* {
  margin: 0%;
  padding: 0%;
  font-family: "Manjari", sans-serif;
}

/*header*/
.navH {
  position: fixed;
  background-color: rgb(28, 50, 83);
  width: 100%;
}
nav ul {
  margin: 0 10px 0px 400px;
  min-height: 70px;
  height: 100%;
  padding-top: 50px;
}
nav ul li {
  display: inline-block;
  padding: 0px 20px;
}
.local-bar {
  background-color: rgba(0, 0, 0, 0.356);
  width: 100%;
  z-index: 2;
  position: absolute;
  text-align: center;
  padding: 3px;
}

.local-bar a {
  color: aliceblue;
  text-decoration: none;
  font-style: italic;
  font-size: 15px;
  margin: 1px 50px;
}
.local-bar audio {
  color: aliceblue;
  text-decoration: none;
  font-style: italic;
  font-size: 15px;
  margin: 1px 50px;
}
.cont-b {
  background-color: rgb(28, 50, 83);
}
.arv {
  padding: 0px 30px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(238, 171, 48);
}
/*header*/



/*main*/
main {
    min-height: auto;
    margin-bottom: 300px;
    
}
audio {
  position: fixed;
  right: 50px;
  top: 170px;
}
.salao {
  width: 100%;
  margin-top: 100px;
}
.img {
  width: 230px;
  position: absolute;
  margin-left: 100px;
  margin-top: 22px;
}

.bar {
  width: 90%;
  
  
}
.gast {
    font-size: 30px;
}

article {
    max-width: 760px;
    margin: 10px 30px 10px 10%;
}
main h1 {
  color: rgb(28, 50, 83);
  font-size: 42px;
  padding: 180px 20px 20px 60px;
  font-weight: 300;
  

}
main h2 {
    padding: 15px 60px;
    text-align: justify;
    font-weight: 200;
}
main h3 {
    padding: 20px 60px 100px;
    text-align: justify;
    font-weight: 100;
}
aside {
   margin: auto;
    margin: 110px 120px 0 30px;
    max-width: 75%;
    float: right;
    
}
.title-menu {
  text-align: center;
  font-weight: 100;
  font-size: 80px;
}
.cont-ref {
  height: 1400px;
}
.cont-menuRef {
  height: 150px;
  
  
}
.cont-fotosRef {
  width: 80%;
  
  min-height: 800px;
  margin: auto;
}
.ref li {
  display: inline-block;
  padding: 10px;
  font-size: 25px;
  font-weight: 100;
  
  
}
.ref li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  
  color: rgb(238, 171, 48);
}
.ref {
  margin-top: 100px;
  margin-left: 18%;
}
.brunch {
  background-color: rgb(28, 50, 83);
  font-weight: 300;
  
}
.brunch2 {
  color:rgb(238, 171, 48);
  font-size: 40px;
}
.fref {
  display: inline-block;
  width: 45%;
  height: 700px;
  
  margin: 33px;

}
.fref img {
  width: 90%;
}
.fref2 {
 float: right;
}
.fref2 button {
  margin: 20px 40px;
  padding: 20px;
}
main article button {
  margin-left: 20%;
  padding: 20px 40px;
  background-image: linear-gradient( to top left, rgb(233, 125, 23), rgb(255, 203, 61) );
  border: 0;
}
/*main*/

/*footer*/
.reserva {
  padding: 20px 70px 12px;
  background-image: linear-gradient( to top left, rgb(233, 125, 23), rgb(255, 203, 61) );
  color: rgb(28, 50, 83);
  text-decoration: none;
  bottom: 0px;
  right: 70px;
  position: fixed;
  font-size: 25px;
  z-index: 1;
}
.footer {
  position: static; ;
  width: 100%;
  background-color: rgb(28, 50, 83);
  bottom: 0;
  height: 250px;
}
.imgF {
  width: 230px;
  position: relative;
  float: right;
  margin-top: 22px;
  margin-right: 100px;

}
footer .direitos {
  
  position: relative;
  float: right;
  right: -210px;
  top: 90px;
  font-size: 13px;
  color: rgba(238, 171, 48, 0.589);
}
.end {
  padding: 15px;
  color: rgba(238, 171, 48, 0.589);
}
.menuF {
  margin-left: 10%;
  
}

/*footer*/
